.App {
  text-align: center;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  font-size: 16.5px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  background-color: white;
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  flex-grow: 3;
  background-color: black;
}
.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  flex-grow: 7;
  background-color: orangered;
}

.top_content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 70%;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 200%;
}

.bottom_content{
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 70%;
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 200%;
}

.bt1{
  width: 40%;
  height: 60%;
  background-color: black;
  color: white;
  border-radius: 20%;
  font-size: 200%;
  font-weight: 200;
}